*{
    padding: 10px;
}

.minhafoto {
    border-radius: 50%;
}

.aboutme {
    background-color: #CCD7E4;
    border-radius: 7px;
    padding: 50px;
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
}

h1{
    text-align: center;
    color: #2B2D42;
}

/* pink lavender #DCB8CB */
/* beau blue #CCD7E4 */
/* columbia blue #CEEAF7 */ 
/* space cadet #2B2D42 */
/* lilac #C3ACCE */
/* vivid tangerine #FB9F89 */
/* khaki web #C4AF9A */